body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #222;
  background-color: #fff;
  text-align: center;
  line-height: 1.4em;
  height: 996.5px;
  position:relative;
}

main {
  padding: 0;
}

h1 {
  padding: 20px;
  background-color: #eee;
}

.user-stories li {
  margin-bottom: 1em;
}

a {
  color: #2574a9;
}

form {
  margin: auto;
  padding: 300px 20px;
  max-width: 600px;
}

footer{
  padding: 20px;
  background-color: #eee;
  width: 100%;
}